<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>

        <section th:fragment="paginaM" class="p-3">
            <div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">
                <img src="/img/paginaMantenimiento.jpg" alt="Imagen de mantenimiento"
                     style="max-width: 100%; height: auto; border-radius: 12px;"/>
            </div>
        </section>

        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
